h1,
h2,
h3,
h4 {
  font-family: 'Sen', sans-serif !important;
}

body {
  font-family: 'Raleway', sans-serif !important;
}


.titleChart{
    padding-top: 5vh;
}

.chartContainer{
    padding: 0 2vw;
}